<!doctype html>
<html>
  <head>
    <title>All the books, here.</title>
  </head>
  <body>
    <main>
        <h1>Books</h1>
        {% for book in books %}
        <p>{{ book.title }}</p>
        <p>{{ book.publish_date }}</p>
        <p>{{ book.description }}</p>
        {% empty %}
        <p>There are no books</p>
        {% endfor %}

        <h2>Add a new book</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
    </main>
  </body>
</html>